<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" [formGroup]="signupForm"> 
        <div class="form-group">
          <label for="projectname">Project Name</label>
          <input
          type="text"
          id="projectname"
          class="form-control"
          name="projectname"
          formControlName="projectname">
        <span class="help-block" *ngIf="!signupForm.get('projectname').valid && signupForm.get('projectname').touched">
        <span *ngIf="signupForm.get('projectname').errors['nameIsForbidden']">This name is invalid!</span>
        <span *ngIf="signupForm.get('projectname').errors['required']">This field is required!</span>
      </span>  
      </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
          type="text"
          id="email"
          class="form-control"
          name="email"
          formControlName="mail">
        <span class="help-block" *ngIf="!signupForm.get('mail').valid && signupForm.get('mail').touched">Emial should be Valid!</span>
        </div>
        <div class="form-group">
          <label for="projectstatus">Project Status</label>
          <select
          id="projectstatus"
          class="form-control"
          name="projectstatus"
          formControlName="projectstatus">
          <option value="stable">Stable</option>
          <option value="critical">Critical</option>
          <option value="finished">Finished</option>
          </select>
        </div>
        <button
          class="btn btn-primary"
          type="submit" [disabled]="!signupForm.valid">Submit</button>
      </form>
     <div class="row" *ngIf="submitted">
          <div class="col-xs-12">
            <h3>Your Data!</h3>
            <p>Email : {{signupForm.get('mail').value}}</p>
            <p>Project Name : {{signupForm.get('projectname').value}}</p>
            <p>Project Status : {{signupForm.get('projectstatus').value}}</p>
          </div>
      </div>
     
    </div>
  </div>
</div>
